<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../static/css/sidebar.css" rel="stylesheet">
  </head>

  <body>
    <header class="site-header sticky-top">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Question Builder</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Viewer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Maker</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">API</a>
                  </li>
                </ul>
                <div class="d-flex">
                  <button class="btn btn-outline-success">Sign In</button>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    Add tag search here
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    ES 1st
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    ES 2nd
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    ES 3rd
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    ES 4th
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    ES 5th
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      ES 6th
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      JHS 1st
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      JHS 2nd
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      JHS 3rd
                    </a>
                </li>
            </div>
          </nav>
      
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <!-- Add list of questions here -->
            </div>
          </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>