{% include "header.html" %}

    <!-- Main Content -->
    <main>
      <div class="container-fluid">
          <div class="row">
            <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
              <div class="position-sticky pt-3">
                <div class="nav flex-column p-1">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success" type="submit">Search by Tag</button>
                  </form>
                </div>
                <ul class="nav flex-column">
                  {% for i in grade %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      {{ i }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </nav>
        
            <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <ul class="list-group">
                  {% for question in questions %}
                      <li class="list-group-item">
                          <div class="container">
                              <div class="row">
                                <div class="col-3"><img src= {{question.pic_url}} width="200px"></div>
              
                                <div class="col-5 offset-md-3">
                                      <div class="row">{{question.en_text}}</div>
                                      <div class="row">
                                          {% for tag in question.tags.split(",") -%}
                                              <a href=# >#{{tag}}</a>
                                          {%- endfor %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  {% endfor %}
                </ul>
              </div>
            </main>
          </div>
      </div>
    </main>
    <!-- End of main content -->

{% include "footer.html" %}